.home-main {
  display: grid;
  grid-template-columns: 235px 1fr;
  align-items: flex-start;
  padding-bottom: 140px;
}

.home-main .category-list {
  padding: 40px 16px 0 0;
  border-right: 1px solid #00000050;
  width: 100%;
}


.home-main .category-list > ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.home-main .category-list > ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.home-main .category-list > ul li span {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  transition: all 0.3s ease;
}

.home-main .category-list > ul li:hover span {
  color: #DB4444;
}

.home-main .category-list > ul li > ul {
  list-style: none;
  position: absolute;
  left: calc(100% + 16px);
  top: 0;
  min-width: 200px;
  padding: 10px;
  width: max-content;
  border: 1px solid #00000050;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #FFFFFF;
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0 100%);
  transition: all 0.3s ease;
}

.home-main .category-list > ul li:hover > ul {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.home-main .category-list > ul li > ul li {
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  transition: all 0.3s ease;
}

.home-main .category-list > ul li > ul li:hover {
  color: #DB4444;
}