.statistics {
  padding-top: 100px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.statistics .content {
  width: 100%;
  padding: 30px;
  border: 1px solid #00000030;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.statistics .content:hover {
  background: #DB4444;
  border: 1px solid #DB4444;
}

.statistics .content .icon-div {
  padding: 11px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 46, 48, 0.3);
  transition: all 0.3s ease;
}

.statistics .content:hover .icon-div {
  background: rgba(255, 255, 255, 0.3);
}

.statistics .content .icon-border {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  transition: all 0.3s ease;
}
.statistics .content:hover .icon-border {
  background: #FFFFFF;
}

.statistics .content .icon-border img {
  transition: all 0.3s ease;
}

.statistics .content:hover .icon-border img {
  filter: invert(1);
}


.statistics .content h3  {
  margin-top: 24px;
  font-size: 32px;
  line-height: 30px;
  letter-spacing: 4%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #000000;
  text-align: center;
  transition: all 0.3s ease;
}

.statistics .content p {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  color: #000000;
  text-align: center;
  transition: all 0.3s ease;
}

.statistics .content:hover h3,
.statistics .content:hover p {
  color: #FFFFFF;
}