.error {
  width: 100%;
  padding-top: 140px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error h1 {
  font-size: 110px;
  line-height: 115px;
  font-weight: bold;
  color: #000;
  text-transform: capitalize;
  text-align: center;
}

.error p {
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

.error a {
  margin-top: 80px;
  padding: 16px 48px;
  border-radius: 4px;
  background: #DB4444;
  cursor: pointer;
  color: #FAFAFA;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}